.git
.github/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
.env
.DS_Store

data/
results/
docs/
scripts/*.pth
scripts/*.csv
scripts/*.ipynb
*.ipynb
mkdocs.yml
.readthedocs.yaml
conda_env.yml
conda_env_new.yml
Dockerfile.cuda
README_NRP.md
